body {
  background: url('images/background.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.logo-image {
  width: 227px;
  height: 227px;
}

.main {
  color: #ffffff;
  margin: 50px;
}

.sub-text {
  font-size: 40px;
}

.color {
  color: #40a798;
}

.main-text {
  font-weight: 400;
  font-size: 90px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: #bf5867;
  padding: 20px 40px;
}

input,
textarea {
  display: block;
  width: 500px;
  font-size: 20px;
  margin: 20px auto;
  border: none;
  padding: 15px 20px;
  color: #787878;
  outline: none;
}

textarea {
  font-size: 20px;
}

.back {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 15px;
}

.back:hover {
  background: rgba(0, 0, 0, 0.3);
}
